@import '../../general';

.container{
    @include generalContainer;
    .back{
        i{
            font-size: 2rem; 
            color: $dark;
       }
    }
    .cardContainer{
        width: 200px;
        margin: 5rem auto;
        background-color: $light;
        padding: 1rem;
        border-radius: 10px;
        img{
            width: 200px;
        }
        p, span{
            font-size: 1.2rem;
        }
        span{
            font-weight: bold;
        }
    }
}
