@import "../../general";
.container {
  @include generalContainer;
  text-align: center;
  min-height: 100vh;
  .inputContainer {

    position: relative;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      margin: 0 auto;
    }
    .cleanIcon{
      position: absolute;
      right: 1rem;
      z-index: 99;
      background: none;
      &:hover{
        cursor: pointer;
      }
      i{
        font-size: 1rem;
      }
    }
  }
  .search {
    height: 3rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 4px rgb(129, 129, 129);
    padding: 0 0 0 1rem;
    
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
}
